<template>
  <v-form ref="category-form">
    <v-container>
      <v-row justify="space-around">
        <v-col md="12">
          <v-select
            required
            clearable
            @clear="clearPlace"
            @input="getRestaurant"
            :items="this.restaurantsList"
            item-value="first"
            item-text="second"
            label="Select a place"
          >
          </v-select>
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col md="12">
          <v-select
            required
            clearable
            @input="setLanguage"
            :items="this.languageList"
            :label="labels.language"
          >
          </v-select>
        </v-col>
      </v-row>

      <v-row
        v-for="(category, index) in categoryList"
        v-bind:key="index"
        justify="space-around"
      >
        <v-col md="12">
          <v-text-field required v-model="category.name"> </v-text-field>
        </v-col>
      </v-row>

      <v-row justify="space-between">
        <v-col md="10">
          <v-text-field
            v-model="categoryModel.name"
            :label="labels.category"
            :rules="nameRules"
            required
          >
          </v-text-field>
        </v-col>
        <v-col md="2">
          <v-btn class="mx-2" fab dark medium color="success" @click="addField">
            <v-icon dark>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <!-- submit button -->
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn outlined color="primary" @click="addMeal">
        {{ "Add Meal" }}
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import { v4 as uuid } from 'uuid'
export default {
  props: [
    "clearPlace",
    "getRestaurant",
    "restaurantsList",
    "startMealStep",
    "addCategories",
  ],
  data: () => ({
    nameRules: [v => !!v || "This field is required"],
    selectRules: [v => (v && v.length > 0) || "This field is required"],
    languageList: ["en", "fr"],
    labels: {
      category: "Category",
      language: "Language"
    },
    categoryList: [],
    categoryModel: {
      name: "",
      language: "",
      translationId: ""
    }
  }),
  methods: {
    setLanguage(language) {
      this.categoryModel.language = language;
    },
    addField() {
      if (this.$refs["category-form"].validate()) {
        this.categoryModel.translationId = uuid()
        this.categoryList.push(this.categoryModel);
        this.categoryModel = {
          name: "",
          language: "",
          translationId: ""
        };
      }
    },
    addMeal() {
      this.addCategories(this.categoryList);
      this.startMealStep();
    }
  }
};
</script>
