<template>
  <v-form ref="category-form">
    <v-row justify="space-around">
      <v-col md="11">
        <v-select
          required
          clearable
          @input="setCategory"
          :items="this.categoryList"
          :label="labels.category"
          item-value="name"
          item-text="name"
        >
        </v-select>
      </v-col>
    </v-row>
    <v-container>
      <v-row justify="space-around">
        <v-col md="8">
          <v-text-field required :label="labels.name" v-model="mealModel.name">
          </v-text-field>
        </v-col>
        <v-col md="4">
          <v-text-field
            required
            :label="labels.price"
            v-model="mealModel.price"
          >
          </v-text-field>
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col md="12">
          <v-textarea
            outlined
            :label="labels.description"
            v-model="mealModel.description"
          ></v-textarea>
        </v-col>
      </v-row>
      <v-row
        justify="space-around"
        v-for="(item, index) in this.mealModel.optionList"
        v-bind:key="index"
      >
        <v-col>
          <v-text-field required :label="labels.option" v-model="item.name">
          </v-text-field>
        </v-col>
        <v-col md="3">
          <v-text-field required :label="labels.price" v-model="item.price">
          </v-text-field>
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col>
          <v-text-field
            required
            :label="labels.option"
            v-model="optionModel.name"
          >
          </v-text-field>
        </v-col>
        <v-col md="3">
          <v-text-field
            required
            :label="labels.price"
            v-model="optionModel.price"
          >
          </v-text-field>
        </v-col>
        <v-col md="2">
          <v-btn class="mx-2" fab dark small color="success" @click="addOption">
            <v-icon dark>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
      <v-row
        justify="space-around"
        v-for="(item, index) in this.mealModel.addonList"
        v-bind:key="index + 1000"
      >
        <v-col>
          <v-text-field required :label="labels.option" v-model="item.name">
          </v-text-field>
        </v-col>
        <v-col md="3">
          <v-text-field required :label="labels.price" v-model="item.price">
          </v-text-field>
        </v-col>
      </v-row>
      <v-row justify="space-around">
        <v-col>
          <v-text-field
            required
            :label="labels.addon"
            v-model="addonModel.name"
          >
          </v-text-field>
        </v-col>
        <v-col md="3">
          <v-text-field
            required
            :label="labels.price"
            v-model="addonModel.price"
          >
          </v-text-field>
        </v-col>
        <v-col md="2">
          <v-btn class="mx-2" fab dark small color="success" @click="addAddon">
            <v-icon dark>
              mdi-plus
            </v-icon>
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
    <v-card-actions>
      <v-btn outlined color="primary" @click="backToCategory">
        {{ "Back to Category" }}
      </v-btn>
      <v-spacer></v-spacer>
      <v-btn outlined color="primary" @click="AddMeal">
        {{ "Add New Item" }}
      </v-btn>
      <v-btn outlined color="primary" @click="submit">
        {{ "Send Items" }}
      </v-btn>
    </v-card-actions>
  </v-form>
</template>

<script>
import { v4 as uuid } from 'uuid'
export default {
  props: ["addMenuToSource", "categoryList", "startCategoryStep", "sendMenu"],
  data: () => ({
    mealList: [],
    labels: {
      name: "Name",
      price: "Price",
      description: "Description",
      option: "Option",
      addon: "Add-on",
      category: "Category"
    },
    mealModel: {
      name: "",
      price: "",
      description: "",
      translationId: "",
      optionList: [],
      addonList: []
    },
    optionModel: {
      name: "",
      price: ""
    },
    addonModel: {
      name: "",
      price: ""
    },
    currentCategory: ""
  }),
  methods: {
    resetFields() {
      this.mealModel = {
        name: "",
        price: "",
        description: "",
        translationId: "",
        optionList: [],
        addonList: []
      };
      this.optionModel = {
        name: "",
        translationId: "",
        price: ""
      };
      this.addonModel = {
        name: "",
        translationId: "",
        price: ""
      };
    },
    addOption() {
      if (this.optionModel.name) {
        this.optionModel.translationId = uuid()
        this.mealModel.optionList.push(this.optionModel);
        this.optionModel = {
          name: "",
          price: ""
        };
      }
    },
    addAddon() {
      if (this.addonModel.name) {
        this.addonModel.translationId = uuid()
        this.mealModel.addonList.push(this.addonModel);
        this.addonModel = {
          name: "",
          price: ""
        };
      }
    },
    AddMeal() {
      this.mealModel.translationId = uuid()
      this.addMenuToSource(this.mealModel, this.currentCategory);
      this.resetFields()
    },
    submit() {
      this.sendMenu()
      this.resetFields()
    },
    setCategory(category) {
      this.currentCategory = category;
    },
    backToCategory() {
      this.resetFields();
      this.startCategoryStep();
    }
  }
};
</script>
