<template>
  <v-dialog width="800" v-model="computedDialog">
    <v-card class="px-5">
      <v-card-title>
        {{title}}
      </v-card-title>
      <v-form ref="form">
        <v-container>
          <!-- Adding Meal -->
          <v-row>
            <v-col>
              <v-text-field
                label="Category"
                v-model="category.name"
                :rules="nameRules"
                required>
              </v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Language"
                v-model="category.language"
                :rules="nameRules"
                required>
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn outlined color="secondary" @click="addCategory(true)">
            Add a new
          </v-btn>
          <v-btn outlined color="primary" @click="addCategory(false)">
            Add
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ['title', 'placeId', 'dialog', 'toggleDialog'],
  data: () => ({
    category: {
      name: "",
      language: ""
    },
    nameRules: [
      v => !!v || 'This field is required',
    ],
  }),
  computed: {
    computedDialog: {
      get() {
        return this.dialog
      },
      set() {
        this.toggleDialog
      }
    }
  },
  methods: {
    addCategory(keepActive) {
      if (this.$refs.form.validate()) {
        this.$axios.post('/api/restaurant/retrieve-all', this.authorizationHeader)
        .then(
          () => {
            if(!keepActive){
              this.$refs.form.reset()
              this.toggleDialog()
            }
            else {
              this.category.name = ""
            }
          }
        )
      }
    }
  }
};
</script>