<template>
  <v-card>
    <v-form ref="form">
      <!-- Title -->
      <v-card-title id="name">
        {{ title }}
      </v-card-title>

      <!--   SnackBar   -->
      <v-snackbar
        v-model="snackbar.model"
        timeout="3000"
        :color="snackbar.color"
      >
        {{ snackbar.message }}
      </v-snackbar>

      <v-container fluid>
        <!--   Restaurant List   -->
        <v-row justify="space-around">
          <v-col md="12">
            <v-select
              required
              clearable
              @clear="clearPlace"
              @input="getRestaurant"
              :items="this.restaurantsList"
              item-value="first"
              item-text="second"
              label="Select a place"
            >
            </v-select>
          </v-col>
        </v-row>

        <!--   Category List   -->
        <v-row
          v-if="this.categoryList && this.categoryList.length > 0"
          justify="space-around"
        >
          <v-col md="12">
            <v-select
              required
              @input="getCategory"
              :items="categoryComputed"
              item-value="name"
              item-text="name"
              label="Select a category"
            >
            </v-select>
          </v-col>
        </v-row>

        <!--    Menu List    -->
        <template v-if="isEditOn">
          <v-row v-for="(item, key) in mealList" v-bind:key="key" align="end">
            <v-col md="3">
              <v-text-field
                required
                :rules="nameRules"
                outlined
                :label="label.name"
                v-model="item.name"
              >
              </v-text-field>
            </v-col>
            <v-col md="5">
              <v-textarea
                outlined
                :label="label.description"
                rows="3"
                v-model="item.description"
              >
              </v-textarea>
            </v-col>
            <v-col md="2">
              <template v-for="(option, optionIndex) in item.optionList">
                <v-text-field
                  v-bind:key="optionIndex + 1000"
                  required
                  :rules="nameRules"
                  outlined
                  :label="label.addon"
                  v-model="option.name"
                ></v-text-field>
              </template>
            </v-col>
            <v-col md="2">
              <template v-for="(addon, addonIndex) in item.addonList">
                <v-text-field
                  v-bind:key="addonIndex + 2000"
                  required
                  :rules="nameRules"
                  outlined
                  :label="label.option"
                  v-model="addon.name"
                ></v-text-field>
              </template>
            </v-col>
          </v-row>
        </template>

        <!--   Add translation -->
        <template v-if="isTranslationOn">
          <v-row>
            <v-col md="12">
              <v-text-field
                required
                v-if="selectedCategory"
                :rules="nameRules"
                :label="label.category"
                v-model="
                  translationCategoryList.find(
                    c => c.oldName === selectedCategory
                  ).name
                "
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row>
            <v-col md="12">
              <v-text-field
                required
                v-if="selectedCategory"
                :rules="nameRules"
                :label="label.language"
                v-model="selectedLanguage"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-row
            v-for="(item, index) in mealList"
            v-bind:key="index"
            align="center"
          >
            <v-col md="3">
              <v-text-field
                required
                :rules="nameRules"
                readonly
                outlined
                filled
                :label="label.name"
                v-model="item.name"
              ></v-text-field>
              <v-text-field
                required
                :rules="nameRules"
                outlined
                v-model="translationCategoryList.find(
                      c => c.oldName === selectedCategory
                    ).mealList[index].name"
                :label="label.name"
              ></v-text-field>
            </v-col>
            <v-col md="5">
              <v-textarea
                required
                :rules="nameRules"
                readonly
                filled
                outlined
                :label="label.description"
                rows="3"
                v-model="item.description"
              >
              </v-textarea>
              <v-textarea
                required
                :rules="nameRules"
                outlined
                v-model="translationCategoryList.find(
                      c => c.oldName === selectedCategory
                    ).mealList[index].description"
                :label="label.description"
                rows="3"
              >
              </v-textarea>
            </v-col>
            <v-col md="2" v-if="item.optionList">
              <template v-for="(option, optionIndex) in item.optionList">
                <v-text-field
                  v-bind:key="optionIndex"
                  readonly
                  outlined
                  filled
                  :label="label.option"
                  v-model="option.name"
                ></v-text-field>
                <v-text-field
                  outlined
                  v-model="
                    translationCategoryList.find(
                      c => c.oldName === selectedCategory
                    ).mealList[index].optionList[optionIndex].name
                  "
                  :label="label.option"
                ></v-text-field>
              </template>
            </v-col>
            <v-col md="2" v-if="item.addonList">
              <template v-for="(addon, addonIndex) in item.addonList">
                <v-text-field
                  v-bind:key="addonIndex"
                  readonly
                  outlined
                  filled
                  :label="label.addon"
                  v-model="addon.name"
                ></v-text-field>
                <v-text-field
                  outlined
                  @input=""
                  v-model="
                    translationCategoryList.find(
                      c => c.oldName === selectedCategory
                    ).mealList[index].addonList[addonIndex].name
                  "
                  :label="label.addon"
                ></v-text-field>
              </template>
            </v-col>
          </v-row>
        </template>

        <!--   Action List     -->
      </v-container>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          v-if="isEditOn && selectedCategory"
          outlined
          color="primary"
          @click="sendUpdateMenu"
        >
          {{ "Save" }}
        </v-btn>
        <v-btn
          v-if="isTranslationOn && selectedCategory"
          outlined
          color="primary"
          @click="addTranslation"
        >
          {{ "Save" }}
        </v-btn>
        <v-btn
          v-if="!isEditOn && !isTranslationOn"
          outlined
          :disabled="!this.selectedLanguage && !this.selectedCategory"
          color="primary"
          @click="translate"
        >
          {{ "Add Translation" }}
        </v-btn>
        <v-btn
          v-if="!isEditOn && !isTranslationOn"
          outlined
          :disabled="!this.selectedLanguage && !this.selectedCategory"
          color="primary"
          @click="edit"
        >
          {{ "Edit" }}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
export default {
  props: ["title"],
  data: () => ({
    label: {
      name: "Name",
      category: "Category",
      description: "Description",
      price: "Price",
      language: "language",
      option: "Option",
      addon: "Addon"
    },
    id: "",
    restaurantsList: [],
    categoryList: [],
    translationCategoryList: [],
    selectedRestaurant: "",
    selectedCategory: "",
    selectedLanguage: "",
    isTranslationOn: false,
    isEditOn: false,
    nameRules: [v => !!v || "This field is required"],
    selectRules: [v => (v && v.length > 0) || "This field is required"],
    snackbar: {
      model: false,
      message: "",
      color: ""
    }
  }),
  mounted() {
    this.getAllRestaurants();
  },
  computed: {
    authorizationHeader() {
      const jwt = this.$store.getters.getToken;
      return {
        headers: {
          Authorization: `Bearer ${jwt}`
        }
      };
    },
    mealList() {
      const response =
        this.categoryList &&
        this.categoryList.find(c => c.name === this.selectedCategory);
      return response ? response.mealList : [];
    },
    categoryComputed() {
      return this.categoryList || [];
    }
  },
  methods: {
    getAllRestaurants() {
      this.$axios
        .get("/api/restaurant/retrieve-all", this.authorizationHeader)
        .then(response => {
          this.restaurantsList = response.data;
        });
    },
    getRestaurant(id) {
      this.id = id;
      this.$axios
        .get(`/api/restaurant/retrieve/${id}`, this.authorizationHeader)
        .then(response => {
          delete response.data["version"];
          this.isEditOn = false;
          this.isTranslationOn = false;
          this.selectedRestaurant = response.data;
          this.selectedCategory = "";
          this.categoryList = this.selectedRestaurant.categoryList;
        });
    },
    getCategory(name) {
      this.selectedCategory = name;
    },
    addTranslation() {
      if (this.$refs.form.validate()) {
        const newTranslated = this.translationCategoryList.map(c => {
          return {
            ...c,
            language: this.selectedLanguage
          }
        }).filter(c => c.name !== "")
        this.categoryList.push(...newTranslated)
        this.sendUpdateMenu()
      }
    },
    edit() {
      this.isEditOn = true;
    },
    translate() {
      this.translationCategoryList = JSON.parse(
        JSON.stringify(this.selectedRestaurant.categoryList)
      );
      this.translationCategoryList.map(c => {
        c.oldName = JSON.parse(JSON.stringify(c.name));
        c.name = "";
        const mealList = JSON.parse(JSON.stringify(c.mealList));
        mealList.map(m => {
          m.name = "";
          m.description = "";
          m.optionList && m.optionList.map(o => {
            o.name = "";
          });
          m.addonList && m.addonList.map(a => {
            a.name = "";
          });
        });
        c.mealList = mealList;
      });
      this.isTranslationOn = true;
    },
    clearPlace() {
      this.currentPlace = null;
    },
    sendUpdateMenu() {
      this.$axios
        .patch(
          `/api/menu/update/${this.id}`,
          this.categoryList,
          this.authorizationHeader
        )
        .then(() => {
          this.snackbar.message = "Menu successfully updated";
          this.snackbar.color = "success";
          this.snackbar.model = true;
        })
        .catch(() => {
          this.snackbar.message = "Menu failed to update";
          this.snackbar.color = "error";
          this.snackbar.model = true;
          this.loginFailed = true;
        });
    }
  }
};
</script>
