<template>
  <v-dialog width="800" v-model="computedDialog">
    <v-card class="px-5">
      <v-card-title>{{title}}</v-card-title>
      <v-form ref="form">
        <v-container v-if="getMenu">
          <!-- Adding Meal -->
          <v-row>
            <v-col>
              <v-select
                label="Category"
                v-model="getMenu.category"
                :items="getCategories"
                item-text="name"
                item-value="name"
                :rules="nameRules"
                required
              ></v-select>
            </v-col>
            <v-col>
              <v-text-field label="Meal Name" v-model="getMenu.name" :rules="nameRules" required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Meal Price"
                :rules="nameRules"
                v-model="getMenu.price"
                type="number"
                required
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-textarea
                label="Description"
                outlined
                v-model="getMenu.description"
              ></v-textarea>
            </v-col>
          </v-row>

          <!-- Adding option (optional) -->
          <v-row justify="center">
            <v-col md="4">
              <v-text-field v-model="getMenu.option.name" label="Option Name (Optional)"></v-text-field>
            </v-col>
            <v-col md="4">
              <v-text-field
                v-model="getMenu.option.price"
                label="Option Price (Optional)"
                type="number"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="edit" outlined color="secondary">Edit</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props: ["title", "menuId", "dialog", "toggleDialog", "menuId"],

  data: () => ({
    categoryItems: [],
    categoryModel: "",
    nameRules: [v => !!v || "This field is required"]
  }),

  mounted() {
    this.findCategory({
      query: { placeId: this.getMenu && this.getMenu.placeId }
    });
    this.findMenu({ query: { _id: this.menuId } });
  },

  computed: {
    ...mapGetters("category", { findCategoryInStore: "find" }),
    ...mapGetters("menu", { findMenuInStore: "find" }),
    getCategories() {
      const categoryList = this.findCategoryInStore({ query: {} }).data;
      return categoryList;
    },
    computedDialog: {
      get() {
        return this.dialog;
      },
      set() {
        this.toggleDialog;
      }
    }
  },

  methods: {
    ...mapActions("category", { findCategory: "find" }),
    ...mapActions("menu", { findMenu: "find" }),

    edit() {
      if (this.$refs.form.validate()) {
        //getting the category
        const { Category } = {};
        const category = Category.findInStore({
          query: { _id: this.categoryModel }
        }).data[0];

        const { Menu } = {};
        const data = {
          ...this.getMenu
        };
        const menu = new Menu(data);
        menu.update().then(() => {
          this.$emit('added');
          this.toggleDialog();
        });
      }
    }
  }
};
</script>
