<template>
  <v-card>
    <v-form ref="form">
      <!-- Title -->
      <v-card-title id="name">
        {{title}}
      </v-card-title>

      <!--   SnackBar   -->
      <v-snackbar
          v-model="snackbar.model"
          timeout="3000"
          :color="snackbar.color"
      >
        {{ snackbar.message }}
      </v-snackbar>

      <!-- form content -->
      <v-container>
        <v-row justify="space-around">
          <v-col md="10">
            <v-select
              required
              clearable
              @clear="clearPlace"
              @input="getRestaurant"
              :items="this.restaurantsList"
              item-value="first"
              item-text="second"
              label="Select a place">
              </v-select>
          </v-col>
        </v-row>
        <!-- display only when a place is selected -->
        <v-col v-if="currentPlace">
          <v-row
            v-for="(item, index) in form"
            v-bind:key="index"
            justify="space-around">
            <v-col
              md="10">
              <v-text-field
                v-if="item.type !== 'textarea'"
                v-model="currentPlace[item.value]"
                :label="item.label"
                :rules="nameRules"
                required>
              </v-text-field>
              <v-textarea
                  v-else v-model="currentPlace[item.value]"
                  :label="item.label"
                  rows="3"
                  :rules="nameRules"
                  required>
              </v-textarea>
            </v-col>
          </v-row>
        </v-col>
      </v-container>

      <!-- submit button -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          outlined
          color="primary"
          @click="submit">
            {{actionTitle}}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import clone from "nodemon/lib/utils/clone";
export default {
  props: ['title', 'actionTitle'],
  data: () => ({
    currentPlace: null,
    nameRules: [
      v => !!v || 'This field is required',
    ],
    selectRules: [
      v => (v && v.length > 0) || 'This field is required',
    ],
    snackbar: {
      model: false,
      message: '',
      color: ''
    },
    restaurantsList: [],
    form: [
      {
        value: "name",
        model: "",
        label: "Name of the place"
      },
      {
        value: "address",
        model: "",
        label: "Address"
      },
      {
        value: "city",
        model: "",
        label: "City"
      },
      {
        value: "province",
        model: "",
        label: "Province"
      },
      {
        value: "country",
        model: "",
        label: "Country"
      },
      {
        value: "postalCode",
        model: "",
        label: "Postal Code"
      },
      {
        value: "phone",
        model: "",
        label: "Phone Number"
      },
      {
        value: "email",
        model: "",
        label: "Email address"
      },
      {
        value: "mission",
        model: "",
        label: "Mission",
        type: "textarea"
      },
    ],
    tables: [],
  }),
  mounted() {
    this.getAllRestaurants()
  },
  computed: {
    authorizationHeader(){
      const jwt = this.$store.getters.getToken
      return {
        headers: {
          Authorization: `Bearer ${jwt}`
        },
      }
    },
  },
  methods: {
    getAllRestaurants() {
      this.$axios.get('/api/restaurant/retrieve-all', this.authorizationHeader).then(
        response => {
          this.restaurantsList = response.data
        }
      )
    },
    getRestaurant(id) {
      this.$axios.get(`/api/restaurant/retrieve/${id}`, this.authorizationHeader).then(
        response => {
          delete response.data['version']
          this.currentPlace = response.data
        }
      )
    },
    clearPlace() {
      this.currentPlace = null
    },
    submit() {
      if(this.$refs.form.validate()) {
        this.$axios
            .patch(`/api/restaurant/update/${this.currentPlace.id}`, this.currentPlace, this.authorizationHeader)
            .then(() => {
              this.snackbar.message ='Restaurant successfully updated'
              this.snackbar.color = 'success'
              this.snackbar.model = true
            })
            .catch(() => {
              this.snackbar.message ='Restaurant failed to update'
              this.snackbar.color = 'error'
              this.snackbar.model = true
              this.loginFailed = true;
            });
      }
    },
  }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

    #name {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }

</style>
