<template>
  <v-card>
    <v-form ref="form">
      <!-- Title -->
      <v-card-title id="name">
        {{ title }}
      </v-card-title>

      <!-- Adding restaurant -->
      <AddCategory
        v-if="this.categoryStep"
        :addCategories="addCategories"
        :clearPlace="clearPlace"
        :getRestaurant="getRestaurant"
        :restaurantsList="this.restaurantsList"
        :startMealStep="this.startMealStep"
      />
      <!-- Adding Meal -->
      <AddMeal
        v-if="this.mealStep"
        :addMenuToSource="addMeals"
        :categoryList="categoryList"
        :startCategoryStep="startCategoryStep"
        :sendMenu="sendMenu"
      />
    </v-form>
  </v-card>
</template>

<script>
import AddCategory from "~/components/form/Menu/AddCategory";
import AddMeal from "~/components/form/Menu/AddMeal";
export default {
  components: {
    AddCategory,
    AddMeal
  },
  props: ["title"],
  data: () => ({
    restaurantsList: [],
    categoryList: [],
    currentPlace: "",
    categoryStep: true,
    mealStep: false
  }),
  mounted() {
    this.getAllRestaurants();
  },
  computed: {
    authorizationHeader() {
      const jwt = this.$store.getters.getToken;
      return {
        headers: {
          Authorization: `Bearer ${jwt}`
        }
      };
    }
  },
  methods: {
    getAllRestaurants() {
      this.$axios
        .get("/api/restaurant/retrieve-all", this.authorizationHeader)
        .then(response => {
          this.restaurantsList = response.data;
        });
    },
    getRestaurant(id) {
      this.$axios
        .get(`/api/restaurant/retrieve/${id}`, this.authorizationHeader)
        .then(response => {
          delete response.data["version"];
          this.currentPlace = response.data;
          this.categoryList = this.currentPlace.categoryList;
        });
    },
    sendMenu() {
      this.currentPlace.categoryList = this.categoryList;
      this.$axios.post(
        `/api/menu/create?id=${this.currentPlace.id}`,
        this.currentPlace.categoryList,
        this.authorizationHeader
      );
    },
    clearPlace() {
      this.currentPlace = null;
    },
    startMealStep() {
      this.categoryStep = false;
      this.mealStep = true;
    },
    startCategoryStep() {
      this.categoryStep = true;
      this.mealStep = false;
    },
    addCategories(categoryList) {
      if (this.categoryList) {
        this.categoryList = [...this.categoryList, ...categoryList];
      } else {
        this.categoryList = [...categoryList];
      }
    },
    addMeals(mealList, categoryName) {
      if (this.categoryList) {
        const category = this.categoryList.find(c => c.name === categoryName);
        if (category.mealList === undefined) {
          category.mealList = [mealList];
        } else {
          category.mealList = [...category.mealList, mealList];
        }
      }
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap");

#name {
  font-family: "IBM Plex Serif";
  font-size: 2em;
}
</style>
