<template>
  <v-dialog width="800" v-model="computedDialog">
    <v-card class="px-5">
      <v-card-title id="name">
        {{title}}
      </v-card-title>
      <v-form ref="form">
        <v-container>
          <!-- Adding Meal -->
          <v-row>
            <v-col>
              <v-select
                label="Category"
                v-model="categoryModel"
                :items="getCategories"
                item-text="name"
                item-value="_id"
                :rules="nameRules"
                required>
              </v-select>
            </v-col>
            <v-col>
              <v-text-field
                label="Meal Name"
                v-model="menu.name"
                :rules="nameRules"
                required>
              </v-text-field>
            </v-col>
            <v-col>
              <v-text-field
                label="Meal Price"
                :rules="nameRules"
                v-model="menu.price"
                type="number"
                required>
              </v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-textarea
                label="Description"
                outlined
                v-model="menu.description"
              ></v-textarea>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn @click="createMenu(true)" outlined color="secondary">
            Add a new
          </v-btn>
          <v-btn @click="createMenu(false)" outlined color="primary">
            Add
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
import {mapGetters, mapActions} from 'vuex'

export default {
  props: ['title', 'placeId', 'dialog', 'toggleDialog'],
  data: () => ({
    categoryItems: [],
    categoryModel: "",
    menu: {
      name: "",
      price: "",
      description: "",
    },
    nameRules: [
      v => !!v || 'This field is required',
    ],
  }),
  mounted(){
    this.findCategory({ query : { placeId : this.placeId } })
  },
  computed: {
    ...mapGetters('category', {findCategoryInStore: 'find'}),
    getCategories() {
      const categoryList = this.findCategoryInStore({ query : {placeId : this.placeId} }).data
      return categoryList
    },
    computedDialog: {
      get() {
        return this.dialog
      },
      set() {
        this.toggleDialog
      }
    }
  },
  methods: {

    createMenu(keepActive) {
      if (this.$refs.form.validate()) {
        //getting the category
        const { Category } = {}

        const category = Category.findInStore({ query: { _id: this.categoryModel} }).data[0]

        const { Menu } = {}

        const data = {
          placeId: this.placeId,
          language: category.language,
          category: category.name,
          ...this.menu
        }
        const menu = new Menu(data)
        menu.create().then(
          () => {
            if(!keepActive){
              this.$refs.form.reset()
              this.$emit('added')
              this.toggleDialog()
            }
            else {
              //reset form beside category that needs to be changed manually
              this.menu = {
                name: "",
                price: "",
                description: "",
                option: {
                  name: "",
                  price: ""
                }
              }
            }
          }
        )
      }
    }
  }
};
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

    #name {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }

</style>
