<template>
  <v-card>
    <v-form ref="form">
      <!-- Title -->
      <v-card-title id="name">
        {{title}}
      </v-card-title>

      <!--   SnackBar   -->
      <v-snackbar
          v-model="snackbar.model"
          timeout="3000"
          :color="snackbar.color"
      >
        {{ snackbar.message }}
      </v-snackbar>

      <!-- form content -->
      <v-container>
        <v-row
          v-for="(item, index) in form"
          v-bind:key="index"
          justify="space-around">
          <v-col
            md="10">
            <v-text-field
              v-model="item.model"
              :label="item.label"
              :rules="nameRules"
              required>
            </v-text-field>
          </v-col>
        </v-row>
        <!-- select place section -->
        <v-row justify="space-around">
          <v-col md="10">
            <v-select
              required
              v-model="tableList"
              :items="tablesItems"
              label="Tables"
              :rules="selectRules"
              multiple>
              <template v-slot:selection="{ item, index }">
                <v-chip v-if="index === 0" dark color="secondary">
                  <span>{{ `table number (${item})` }}</span>
                </v-chip>
                <span
                  v-if="index === 1"
                  class="grey--text caption"
                >(+{{ tableList && tableList.length - 1 }} others)</span>
              </template>
            </v-select>
          </v-col>
        </v-row>
      </v-container>

      <!-- submit button -->
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          outlined
          color="primary"
          @click="submit">
            {{actionTitle}}
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>

export default {
  props: ['title', 'actionTitle'],
  data: () => ({
    nameRules: [
      v => !!v || 'This field is required',
    ],
    selectRules: [
      v => (v && v.length > 0) || 'This field is required',
    ],
    snackbar: {
      model: false,
      message: '',
      color: ''
    },
    form: [
      {
        value: "name",
        model: "",
        label: "Name of the place"
      },
      {
        value: "address",
        model: "",
        label: "Address"
      },
      {
        value: "city",
        model: "",
        label: "City"
      },
      {
        value: "country",
        model: "",
        label: "Country"
      },
      {
        value: "postalCode",
        model: "",
        label: "Postal Code"
      },
      {
        value: "phone",
        model: "",
        label: "Phone Number"
      },
      {
        value: "email",
        model: "",
        label: "Email address"
      },
      {
        value: "mission",
        model: "",
        label: "Mission"
      },
    ],
    tableList: [],
  }),
  computed: {
    tablesItems(){
      let array = [];
      for (let index = 0; index < 100; index++) {
        array.push(index);
      }
      return array;
    }
  },
  methods: {
    async submit() {
      if(this.$refs.form.validate()) {
        const jwt = this.$store.getters.getToken

        const config = {
          headers: {
            Authorization: `Bearer ${jwt}`,
          }
        }

        const data =
        {
          name: this.form[0].model,
          address: this.form[1].model,
          city: this.form[2].model,
          country: this.form[3].model,
          postalCode: this.form[4].model,
          phone: this.form[5].model,
          email: this.form[6].model,
          mission: this.form[7].model,
          tableList: this.tableList.map(table => {return {number: table}}),
        }

        await this.$axios
            .$post(`/api/restaurant/create`, data, config)
            .then(() => {
              this.$refs.form.reset()
              this.snackbar.message ='Restaurant successfully created'
              this.snackbar.color = 'success'
              this.snackbar.model = true
            })
            .catch(() => {
              this.snackbar.message ='Restaurant failed to create'
              this.snackbar.color = 'error'
              this.snackbar.model = true
            })
      }
    }
  }
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

    #name {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
    }

</style>
