<template>
  <v-container>
    <v-row justify="center">
      <v-col md="7">
        <PlaceForm
          :title="title"
          :actionTitle="actionTitle">
        </PlaceForm>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import PlaceForm from '@/components/form/Place';

export default {
  components: {
    PlaceForm
  } ,
  data: () => ({
    title: "Add a new restaurant",
    actionTitle: "Add"
  })
}
</script>
