<template>
  <v-container>
    <v-row justify="center">
      <v-col md="7">
        <MealForm
            :title="title"
            :actionTitle="actionTitle">
        </MealForm>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import MealForm from '@/components/form/Meal';

export default {
  components: {
    MealForm
  } ,
  data: () => ({
    title: "Add an new Item to the menu",
    actionTitle: "Add"
  })
}
</script>
