<template>
  <v-card width="300" :color="color">

    <!-- Title -->
    <v-card-title id="name">
      {{title}}
    </v-card-title>
    <v-img :src="imgSrc" aspect-ratio="1.7" contain>
    </v-img>

    <!-- Action Bar -->
    <v-card-actions class="pt-3">
      <v-spacer></v-spacer>
      <v-btn icon dark v-if="edit" @click="edit">
        <v-icon large>
          mdi-pencil
        </v-icon>
      </v-btn>
      <v-btn icon v-if="create" dark @click="create">
        <v-icon large>
          mdi-plus
        </v-icon>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ['title', 'item', 'imgSrc','color', 'edit', 'create'],
}
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

    #name {
        font-family: 'IBM Plex Serif';
        font-size: 2em;
        color: white;
    }

</style>
