<template>
  <v-card width="500" class="px-5">
    <v-card-title>{{title}}</v-card-title>
    <v-alert type="error" v-if="loginFailed">
      {{alertMessage}}
    </v-alert>
    <v-form ref="form">
      <v-text-field
        prepend-icon="mdi-account"
        color="primary"
        v-model="username"
        :label="form.username">
      </v-text-field>
      <v-text-field
      prepend-icon="mdi-lock"
        color="primary"
        type="password"
        v-model="password"
        :label="form.password">
      </v-text-field>
    </v-form>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="action" outlined color="primary">
        {{btnTitle}}
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    props: ['title', 'btnTitle', 'btnAction', 'loginFailed'],
    data: () => ({
      username: "",
      password: "",
      alertMessage: "Login failed",
      form: {
        username: "Username",
        password: "Password"
      }
    }),
    methods: {
      action() {
        this.btnAction(this.username, this.password)
      }
    }
  }
</script>
