<template>
  <v-app>
    <v-app-bar app class="elevation-0" color="white">
      <v-col>
        <v-img
          style="cursor: pointer;"
          @click="backToMenu"
          :src="kidim"
          contain
          width="150">
        </v-img>
      </v-col>
      <v-spacer></v-spacer>
      <v-btn icon @click="logout">
        <v-icon large>
          mdi-logout-variant
        </v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <nuxt/>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data: () =>  ({
    kidim: require('@/static/images/kidim.svg'),
  }),

  mounted() {
    this.authenticate()
  },
  methods: {
    authenticate() {
      const jwt = this.$store.getters.getToken
      const config = {
        headers: {
          Authorization: `Bearer ${jwt}`
        },
      }
      this.$axios
        .$post(`/api/user/authenticate`,null, config)
        .catch(() => {
          this.goToLoginPage()
        });
    },
    goToLoginPage() {
      this.$router.push("/login")
    },
    backToMenu() {
      if(this.$router.currentRoute.path !== "/") {
        this.$router.push("/")
      }
    },

    logout() {
      this.$store.dispatch('auth/logout').then(
        () => {
          this.clearPlace()
          this.$router.push("/login")
        }
      )
    }
  }
}
</script>
