<template>
  <v-app id="kidimBlank">
    <v-main>
      <v-container>
        <nuxt/>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>
  #kidimBlank {
    background: #FFF3E0;
    background-image: url('../static/images/backgroundAdmin.jpg');
    background-size: 100% 100%;
  }
</style>
