<template>
  <v-container class="fill-height">
    <v-row id="parents" justify="center">
      <v-col
        md="4"
        sm="6"
        xs="1">
        <HomeItem
          title="Restaurants"
          :edit="editRestaurant"
          :create="createRestaurant"
          :imgSrc="restaurantIcon"
          color="#9C27B0">
        </HomeItem>
      </v-col>
      <v-col md="4"
        sm="6"
        xs="1">
        <HomeItem
          title="Menu"
          :create="createMenu"
          :edit="editMenu"
          :imgSrc="menuIcon"
          color="#EF6C00">
        </HomeItem>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import HomeItem from "@/components/home/Item"

export default {
  components: {
    HomeItem
  },

  data: () => ({
    restaurantIcon: require('@/static/images/restaurant.png'),
    menuIcon: require('@/static/images/menu.png'),
    isAdmin: false
  }),

  methods: {
    editRestaurant() {
      this.$router.push('/restaurant/edit')
    },
    createRestaurant() {
      this.$router.push('/restaurant/add')
    },
    createMenu() {
      this.$router.push('/menu/add')
    },
    editMenu() {
      this.$router.push('/menu/edit')
    }
  }
};
</script>
